/* General */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body,
html {
    background-color: #F7F6F5;
    font-style: normal;
    margin: 0;
    width: 100%;
    height: 100%;
}

footer {
    margin-top: 100px;
    position: sticky;
    top: 100%;
}

/* Body */

#master_container {
    padding: 8vw 8vw 0 8vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.logo {
    position: relative;
    top: 55.5px;
}

#container {
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 2px 4px rgb(87 84 82 / 20%);
    min-width: 350px;
    max-width: 500px;
    max-height: 100%;
}

#title {
    font-size: 32px;
    font-family: 'Avenir Next LT Pro', 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    margin-top: 40px;
}

#text {
    font-size: 20px;
    font-family: 'Avenir Next LT Pro', 'Nunito', sans-serif;
    font-weight: normal;
    text-align: center;
}

#master_button_container {
    display: grid;
    flex-direction: column;
    grid-template-columns: 15% 35% 35% 15%;
}

.button_container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.button {
    font-family: 'Avenir Next LT Pro', 'Nunito', sans-serif;
    font-weight: normal;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 24px 2px 24px;
    border-radius: 50px;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
    color: #ffffff;
    background: #DA291C;
    border: 2px solid #DA291C;
    text-decoration: none;
    width: 60px;
    height: 50px;
    box-shadow: 0 2px 4px rgb(87 84 82 / 20%);
    margin: 15px;
    word-wrap: break-word;
    z-index: 1;
}

#button_login {
    font-family: 'Avenir Next LT Pro', 'Nunito', sans-serif;
    font-weight: normal;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 24px 2px 24px;
    border-radius: 50px;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
    color: #ffffff;
    background: #DA291C;
    border: 2px solid #DA291C;
    text-decoration: none;
    width: 60px;
    height: 50px;
    box-shadow: 0 2px 4px rgb(87 84 82 / 20%);
    margin: 15px;
    word-wrap: break-word;
    z-index: 1;
}

#button_login:hover {
    color: #DA291C;
    background: #ffffff;
    transition: 0.6s;
}

.button:hover {
    color: #DA291C;
    background: #ffffff;
    transition: 0.6s;
    transform: translate(0px, -10px);
}

.button:hover:after {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    bottom: -3em;
}

.button:hover .button_icon_inner {
    fill: #DA291C;
    transition-delay: 0.3s;
    transition-duration: 0.6s;
}

.button:hover .button_icon {
    transition-delay: 0.3s;
    transition-duration: 0.6s;
}

.button_icon {
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
}

.button_icon_inner,
.button_icon {
    size: 100%;
    fill: #ffffff;
    transition: all 0.2s linear;
}

/* Text behind button */

.button_text {
    font-size: 5px;
    font-family: 'Nunito';
    font-weight: bold;
    color: #DA291C;
    text-decoration: none;
    position: relative;
    margin-top: -25px;
    z-index: 0;
    transition: all 0.2s linear;
}

.button:hover~.button_text {
    font-size: 20px;
    transition-duration: 0.3s;
    transform: translate(0px, 15px);
}

/* Form */

#input_user {
    font-family: 'Nunito';
    font-size: 100%;
    width: 300px;
    height: 40px;
    border: 1px solid #B3AEAA;
    background: #F7F6F5;
    border-radius: 4px;
    border-color: #3D3935;
    margin: 10px 0 10px 0;
    padding-left: 10px;
}

#input_pass {
    font-family: 'Nunito';
    font-size: 100%;
    width: 300px;
    height: 40px;
    border: 1px solid #B3AEAA;
    background: #F7F6F5;
    border-radius: 4px;
    border-color: #3D3935;
    margin: 10px 0 10px 0;
    padding-left: 10px;
}

.label {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #5F5955;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Media for screen sizes below 740 width (shrink footer font) */

@media only screen and (max-width: 740px) {
    #footer_container {
        font-size: 10px;
    }
}