/* General */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body,
html {
    background-color: #e6e3df;
    font-style: normal;
    margin: 0;
    width: 100%;
    z-index: 10;
}

footer {
    margin-top: 100px;
    position: sticky;
    top: 100%;
}

/* Header */

#master_container_header {
    width: auto;
    padding-top: 150px;
    align-items: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

#toggle_container {
    padding-right: 3vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#top_container {
    background: linear-gradient(98.52deg,#d093a6 -.35%,#e7c9bc 100.35%);
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    text-align: center;
    align-items: center;
    box-shadow: 0 2px 4px rgb(87 84 82 / 20%);
}

#title_imprint {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
}

/* Body */

#master_container {
    width: auto;
    padding-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
}


#container {
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 4px rgb(87 84 82 / 20%);
    max-width: 550px;
    max-height: 700px;
    min-width: 400px;
}

#title {
    font-size: 32px;
    font-family: 'Avenir Next LT Pro', 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    margin-top: 60px;
    margin-bottom: 40px;
}

#imprint_container {
    text-align: center;
    width: 100%;
    margin-top: 5vh;
}

.text {
    margin: 0;
    font-size: 20px;
    font-weight: regular;
    text-align: center;
    word-break: inherit;
}

.text_autor {
    margin: 0px 0px -35px 0px;
    font-size: 20px;
    font-family: 'Avenir Next LT Pro', 'Nunito', sans-serif;
    font-weight: regular;
    text-align: center;
}

.author_top {
    font-size: 20px;
    color: #3c3c3b;
    display: block;
    justify-items: left;
    padding: 20px 20px 0px 0px;
    max-width: 1000px;
    margin: auto;
}

.text2 {
    font-family: 'Avenir Next LT Pro', 'Nunito', sans-serif;
    font-weight: regular;
    text-align: left;
    vertical-align: middle;
}

.author_mastercontainer {
    font-size: 18px;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 2px 4px rgb(87 84 82 / 20%);
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
}

.author_container {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    color: #3c3c3b;
    text-align: left;
    border-bottom: 2px solid #F7F6F5;
    padding-right: 15px;
}

#description {
    margin: 0;
    font-size: 20px;
    font-family: 'Avenir Next LT Pro', 'Nunito', sans-serif;
    font-weight: regular;
    text-align: center;
    margin-bottom: 150px;
}

@media only screen and (max-width: 600px) {
    #author_mastercontainer {
        word-break: inherit;
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    #author_container {
        padding-right: 5px;
    }
}

@media only screen and (max-width: 600px) {
    #footer_container {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #footer_container {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #footer_login {
        white-space: normal;
    }
}

@media only screen and (max-width: 759px) {
    .logo {
        top: -58.7px;
    }

    #top_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #title_imprint {
        margin-top: 70px;
        font-size: 50px;
        white-space: nowrap;
    }

    #master_container_header {
        width: auto;
        padding-top: 150px;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}